body {
  height: 100vh;
  margin: 0;
  font-size: 15px;
  background-color: tomato;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.description {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

h1 {
  color: white;
  font-size: 3.4rem;
}

.pizza {
  animation-name: rotate;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.crust {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(203, 143, 83);
  background-color: rgb(203, 143, 83);
}

.sauce {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(199, 4, 4);
  background-color: rgb(199, 4, 4);
}

.mozzarella {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 5px solid rgb(241, 177, 89);
  background-color: rgb(241, 177, 89);
}

.salame {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 5px solid rgb(161, 2, 2);
  background-color: rgb(161, 2, 2);
}

.salame-one {
  display: flex;
  gap: 20px;
}

.salame-two {
  display: flex;
  gap: 20px;
}

.salame-three {
  display: flex;
  gap: 20px;
}

.box {
  margin-top: 130px;
  margin-left: 100px;
  margin-right: auto;
  background-color: green;
  width: 500px;
  height: 550px;
  border-radius: 5%;
  padding: 20px;
  color: white;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid green;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border: none;
}

input[type="submit"] {
  border: none;
  background-color: white;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 200px;
  margin-top: 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(199, 4, 4);
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 481px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .box {
        width: 300px;
        margin: auto;
    }

    input[type="submit"] {
        width:100px;
        margin: auto;
    }
}
